Source: opengeo-geoserver
Section: science
Priority: extra
Maintainer: OpenGeo <inquiry@opengeo.org>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: http://opengeo.org

Package: opengeo-geoserver
Architecture: any
Depends: debconf,  sun-java6-jre | openjdk-6-jre, tomcat6, opengeo-jai, opengeo-suite-data, unzip, ${misc:Depends}
#,${shlibs:Depends}
Description: Allows the creation, sharing, and collaborative use of geospatial data. 
 The OpenGeo Suite is a great basis for solving the critical geospatial IT 
 issues facing governments, businesses, transit agencies, and other enterprises 
 worldwide -- including through-the-web editing of vector data, versioned data 
 management, imagery delivery, customized web application development, and more. 
