body {
    font-family:Helvetica, Arial, sans-serif;
    font-size:12px;
    color: #333333;
}

p {
  color:#333333;
  line-height:1.5;
  margin:10px;
  text-align: justify;
}
a {
    color: #3366CC;
    text-decoration: none;
}

a:hover {
  color:#6C9400;
}

a.app-disabled {
  color: #999999;
}

a.app-disabled:hover {
  color: #999999;
}

.app-strong {
    font-weight: bold;
    font-size: larger;
}

.app-disabled {
    color: #0A2742;
}

.dash-panel {
    padding: 5px 20px;
}
.dash-panel-body {
    width: 100%;
}

.dash-panel-body h1 a {
    color:#0A2742;
    font-family:Optima,Georgia, serif;
    font-size:24px;
    font-weight:normal;
}
.dash-panel-body h2 {
  color:#0A2742;
  font-family:Optima, Georgia, serif;
  font-size:16px;
  font-weight:normal;    
  margin: 10px 0 0;
}
.dash-panel-body h3 {
    color:#0A2742;
    font-family:Optima,Georgia, serif;
    font-size:16px;
    font-weight:normal;    
}
  
.dash-panel-body h4 {
    border-bottom:1px solid #486300;
    color:#0A2742;
    font-family:Optima,Georgia, serif;
    font-size:24px;
    font-weight:normal;
    margin:0 10px 0 10px;
  }

/*QuickStart Styling*/
.dash-panel-body .steps {
    font-weight:normal;
    margin:10px 0 0 10px;
}

.dash-panel-body .stepheading {
    color:#486300;
    font-family:Optima,Georgia,serif;
    font-size:15px;
    margin-top:10px;
}

.dash-panel-body .steps ul {
    line-height:1.5;
    list-style-image:none;
    list-style-position:inside;
    list-style-type:square;
    text-align:justify;
}

.dash-panel-body .launch {
    background:#F0F5EF;
    border:1px solid black;
    color:#0A2742;
    display:block;
    font-family:Optima,Georgia,serif;
    font-size:12px;
    font-weight:bold;
    margin:10px 0 20px;
    padding:5px;
    text-align:center;
    text-transform: uppercase;
    width:auto;
  }

.dash-panel-body .iconlaunch {
        margin: 10px 0;
        text-align: center;
        width: 100%;
    }

.dash-panel-body .iconlaunch a {
  line-height: normal;
}

.dash-panel-body .launch a {
  color: #333333;
}

.dash-panel-body .launch a:hover {
  color: #6C9400;
}

.dash-panel-body .launch a.app-disabled {
    color: #0A2742;
}

.dash-panel-body .launch a.app-disabled:hover {
    color: #0A2742;
}

.dash-panel-content {
    margin: 0 150px 0 0;
}

.dash-panel-content-pref {
    margin: 0px;
}
.dash-panel-content-pref h4 {
    margin: 0 150px 0 10px; 
}

div.dash-panel-startup {
    padding: 5px;
}

.dash-panel-startup table {
    font-size: 1em;
    margin: 10px 25px;
}

.dash-panel-startup td em {
    font-weight: bold;
    font-size: larger;
    padding-left: 10px;
}

.dash-panel-content-item {
    margin-bottom: 10px;
    min-height: 55px;
    padding-left: 65px;
    margin-top: 15px;
    width: 175px;    
}

.dash-panel-content-item.geoserver {
    background: url(img/geoserver-sm.png) no-repeat;
}
.dash-panel-content-item.geoexplorer {
    background: url(img/geoexplorer-sm.png) no-repeat;
}
.dash-panel-content-item.styler {
    background: url(img/styler_sm.png) no-repeat;
}
.dash-panel-content-item.geoeditor {
    background: url(img/geoeditor-sm.png) no-repeat;
}
.dash-panel-content-item.geowebcache {
    background: url(img/geowebcache_sm.png) no-repeat;
}
.dash-panel-content-item.postgis {
    background: url(img/postgis_sm.png) no-repeat;
}

.dash-panel-tasks {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 120px;
}

.dash-panel-tasks ul {
    line-height:1.4;
    list-style-image:none;
    list-style-position:outside;
    list-style-type:disc;
    padding:0 0 0 10px;
}

.dash-panel-tasks ul li {
    margin-left: 10px;
}

.quick-links li,.dash-panel-content-item ul.quick-links {
    display: inline;
    padding:10px 10px 10px 0;
    font-size: 12px;
}

.dash-warning-header {
    background: url(img/error.png)
}
.dash-warning {
    padding: 10px;
}

.dash-info-header {
    background: url(img/information.png);
}
.dash_info {
    padding: 10px;
}

.dash-dialog-working {
    background: url(img/indicator.gif) no-repeat;
    background-position: left;
    padding-left: 20px;
    padding-top: 4px;
}

a.icon-geoexplorer {
    display: block;
    height: 101px;
    background: transparent url(img/geoexplorer.png) no-repeat center;
}

a.icon-geoserver {
    display: block;
    height: 101px;
    background: transparent url(img/geoserver.png) no-repeat center;
}

a.icon-geowebcache {
    display: block;
    height: 101px;
    background: transparent url(img/geowebcache.png) no-repeat center;
}

a.icon-opengeo {
    display: block;
    height: 101px;
    background: transparent url(img/opengeo.png) no-repeat center;
    margin-bottom: 25px;
}

a.icon-styler {
    display: block;
    height: 101px;
    background: transparent url(img/styler.png) no-repeat center;
}

a.icon-geoeditor {
    display: block;
    height: 101px;
    background: transparent url(img/geoeditor.png) no-repeat center;
}

a.icon-postgis {
    display: block;
    height: 101px;
    background: transparent url(img/postgis.png) no-repeat center;
}

/* override left hand menu*/
.x-tab-panel-left .x-tab-panel-header ul.x-grouptabs-strip a.x-grouptabs-text{
    padding-left: 18px;
    color:#0A2742;
    font-family:Optima,Georgia, serif;
}

/* override group table panel bottom border */
.x-grouptabs-panel {
    border-bottom-width: 5px;
}

/* override background color */
.x-border-layout-ct {
    background-color: #ffffff;
}

/* control panel */
.app-panels-control {
    border: solid #291C17;
    border-width: 0px 15px 5px 145px;
    background: #FFFFFF url('img/x-grouptabs-corners-bot-left.png') no-repeat;
    background-position: bottom left;
    padding: 1em;
    height: 2em;
}

.app-panels-control-msg {
    /*background: #FFFFFF url('img/information.png') no-repeat;*/
    background-color: #FFFFFF;
    padding-left: 25px;
    padding-top: 2px;
}

.app-msg-warn {
    background: url('img/delete.png') no-repeat;
}

.app-msg-info {
    background: url('img/information.png') no-repeat;
}

.app-msg-ok {
    background: url('img/tick.png') no-repeat;
}

.control-button {
    padding-left: 0.4em;
}

.x-btn .start-button {
    background-image: url(img/server_go.png);
}

.x-btn .stop-button {
    background-image: url(img/server_delete.png);
}

.x-btn .cancel-button {
    background-image: url(img/cancel.png);
}

.x-btn .refresh-button {
    background-image: url(img/arrow_refresh.png);
}

.x-btn .view-button {
    background-image: url(img/page_white_magnify.png);
}

.x-btn .delete-button {
    background-image: url(img/delete.png);
}

.working-dialog {
    text-align: center;
    padding: 0.5em 1em 2em;
    margin-bottom: 1em;
    background: transparent url(img/indicator.gif) no-repeat bottom center;
}

#app-panels-pref-form {
    margin: 10px 150px 0 10px;
}

/*FAQ page Styling*/
.dash-panel-body .faq {
}

.dash-panel-body .faq h1 {
  color:#486300;
  font-family:Optima,Georgia,serif;
  font-size:15px;
  font-weight: normal;
  margin:10px;
}
