body {
    font-family:Helvetica, Arial, sans-serif;
    font-size:12px;
    color: #333333;
}

p {
  color:#333333;
  line-height:1.5;
  margin:10px;
  text-align: justify;
}
a {
    color: #3366CC;
    text-decoration: none;
}

a:hover {
  color:#6C9400;
}

.app-strong {
    font-weight: bold;
    font-size: larger;
}

.dash-panel {
    padding: 5px 20px;
}
.dash-panel-body {
    width: 100%;
}

.dash-panel-body h1 a {
    color:#0A2742;
    font-family:Optima,Georgia, serif;
    font-size:24px;
    font-weight:normal;
}
.dash-panel-body h2 {
  color:#0A2742;
  font-family:Optima, Georgia, serif;
  font-size:16px;
  font-weight:normal;    
  margin: 10px 0 0;
}
.dash-panel-body h3 {
    color:#0A2742;
    font-family:Optima,Georgia, serif;
    font-size:16px;
    font-weight:normal;    
}
  
.dash-panel-body h4 {
    border-bottom:1px solid #486300;
    color:#0A2742;
    font-family:Optima,Georgia, serif;
    font-size:24px;
    font-weight:normal;
    margin:0 10px 0 10px;
  }

.dash-panel-body .steps {
    font-weight:normal;
    margin:10px 0 0 10px;
}

.dash-panel-body .stepheading {
    color:#486300;
    font-family:Optima,Georgia,serif;
    font-size:15px;
    margin-top:10px;
}

.dash-panel-body .steps ul {
    line-height:1.5;
    list-style-image:none;
    list-style-position:inside;
    list-style-type:square;
    text-align:justify;
}
.dash-panel-body .launch {
    background:#F0F5EF;
    border:1px solid black;
    color:#0A2742;
    display:block;
    font-family:Optima,Georgia,serif;
    font-size:12px;
    font-weight:bold;
    margin:10px 0 20px;
    padding:5px;
    text-align:center;
    text-transform: uppercase;
    width:auto;
  }

.dash-panel-body .iconlaunch {
        margin: 10px 0;
        text-align: center;
        width: 100%;
    }

.dash-panel-body .iconlaunch a {
  line-height: normal;
}

.dash-panel-body .launch a {
  color: #333333;
}

.dash-panel-body .launch a:hover {
  color: #6C9400;
}
    
.dash-panel-content {
    margin: 0 150px 0 0;
}
.dash-panel-content-item {
    margin-bottom: 10px;
    min-height: 55px;
}

.dash-panel-content-item.geoserver {
    padding-left: 65px;
    background: url(img/geoserver-sm.png) no-repeat;
    margin-top: 15px;
}
.dash-panel-content-item.geoexplorer {
    padding-left: 65px;
    background: url(img/geoexplorer-sm.png) no-repeat;
    margin-top: 15px;
}
.dash-panel-content-item.styler {
    padding-left: 65px;
    background: url(img/styler_sm.png) no-repeat;
    margin-top: 15px;
}

.dash-panel-content-item.geowebcache {
    padding-left: 65px;
    background: url(img/geowebcache_sm.png) no-repeat;
    margin-top: 15px;
}

.dash-panel-tasks {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 120px;
}

.dash-panel-tasks ul {
    line-height:1.4;
    list-style-image:none;
    list-style-position:outside;
    list-style-type:disc;
    padding:0 0 0 10px;
}

.dash-panel-tasks ul li {
    margin-left: 10px;
}

.quick-links li {
    display: inline;
    padding:10px 10px 10px 0;
}

.dash-warning-header {
    background: url(img/error.png)
}
.dash-warning {
    padding: 10px;
}

.dash-info-header {
    background: url(img/information.png);
}
.dash_info {
    padding: 10px;
}

.dash-dialog-working {
    background: url(img/indicator.gif) no-repeat;
    background-position: left;
    padding-left: 20px;
}

a.icon-geoexplorer {
    display: block;
    height: 101px;
    background: transparent url(img/geoexplorer.png) no-repeat center;
}

a.icon-geoserver {
    display: block;
    height: 101px;
    background: transparent url(img/geoserver.png) no-repeat center;
}

a.icon-geowebcache {
    display: block;
    height: 101px;
    background: transparent url(img/geowebcache.png) no-repeat center;
}

a.icon-opengeo {
    display: block;
    height: 101px;
    background: transparent url(img/opengeo.png) no-repeat center;
    margin-bottom: 25px;
}

a.icon-styler {
    display: block;
    height: 101px;
    background: transparent url(img/styler.png) no-repeat center;
}

/* override left hand menu*/
.x-tab-panel-left .x-tab-panel-header ul.x-grouptabs-strip a.x-grouptabs-text{
    padding-left: 18px;
    color:#0A2742;
    font-family:Optima,Georgia, serif;
}

/* override group table panel bottom border */
.x-grouptabs-panel {
    border-bottom-width: 5px;
}

/* status panel */
#app-panels-status {
    border: solid #291C17;
    border-width: 0px 15px 5px 145px;
    height: 40px;
    background: #FFFFFF url('img/x-grouptabs-corners-bot-left.png') no-repeat;
    background-position: bottom left;
}

#app-panels-status div {
    position: relative;
    top: 50%;
    margin-top: -15px;
}

#app-panels-status button {
    float: right;
    display: block;
    margin: 0 7px 0 0;
    background-color: #f5f5f5;
    border: 1px solid #dedede;
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;
    
    width: auto;
    overflow: visible;
    padding:4px 10px 3px 7px; /* IE6 */
}

#app-panels-status button:hover {
    background-color:#dff4ff;
    border:1px solid #c2e1ef;
    color:#336699;
}

#app-panels-status button img {
    margin: 0 3px -3px 0 !important;
    padding: 0;
    border: none;
    width: 16px;
    height: 16px;
}

#app-panels-status-msg {
    margin-left: 10px;
}