/* general overrides */

body {
    font-family: Helvetica, Arial, sans-serif;
    color: #333333;
}

.ext-el-mask {
    opacity: 0;
}

h1, h2, h3, h4, h5 {
    color: #0A2742;
}

a, a:visited {
    color: #3366CC;
}

/* selectors for the index page */

.header {
    height: 30px;
    padding: 0.5em;
    font-size: 1.5em;
}

.search {
    width: 300px;
    font-size: 0.9em;
}

.searchbox {
    padding: 1em;
}

.index .recipe {
    padding: 0.5em;
}

.index .recipe p {
    font-size: 0.9em;
}

.index .recipe.over {
    cursor: pointer;
    background-color: #f3f3f3;
}

.index .recipe.selected {
    background-color: #ffffcc;
}

.entry {
    padding: 1.5em;
    background-color: white;
}

/* selectors for individual recipes */

.description {
    margin: 1em 0 1em 0;
    padding: 0.75em;
    font-size: 0.9em;
    background-color: #eeeeee;
}

.map {
    width: 100%;
    height: 256px;
}

.code-panel {
    margin: 1em 0.5em;
}

.code-panel pre {
    margin: 1em;
    font-size: 0.9em;
}
