.csv-link {
background: transparent url(page_green.png) scroll no-repeat left center;
padding: 2px 0px 2px 20px;
}

.excel-link {
background: transparent url(page_excel.png) scroll no-repeat left center;
padding: 2px 0px 2px 20px;
}

.button-hour span {
  background: url(clock.png) no-repeat;
}
.button-day span {
  background: url(calendar_view_day.png) no-repeat;
}
.button-week span {
  background: url(calendar_view_week.png) no-repeat;
}
.button-month span {
  background: url(calendar_view_month.png) no-repeat;
}

.button-group-me a.active {
  /*background-color: darkGray;
  color: #004f6c;*/
}
