body {
    font-family: arial, sans-serif;
    font-size: 14px;
}

a {
    color: #3366CC;
    text-decoration: none;
}

.app-strong {
    font-weight: bold;
    font-size: larger;
}

.dash-panel {
    padding: 20px;
}
.dash-panel-body {
    width: 100%;
}

.dash-panel-body h1 {
    font-size: 18;
}
.dash-panel-body h2 {
    font-size: 16px;
}
.dash-panel-body h3 {
    font-size: 14px;
}
.dash-panel-body h4 {
    font-size: 14px;
}

.dash-panel-content {
    margin: 0 150px 0 0;
}
.dash-panel-content-item {
    margin-bottom: 10px;
    min-height: 55px;
}

.dash-panel-content-item.geoserver {
    padding-left: 65px;
    background: url(img/geoserver-sm.png) no-repeat;
}
.dash-panel-content-item.geoexplorer {
    padding-left: 65px;
    background: url(img/geoext-sm.png) no-repeat;
}
.dash-panel-content-item.styler {
    padding-left: 65px;
    background: url(img/geoext-sm.png) no-repeat;
}

.dash-panel-tasks {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 150px;
}
.dash-panel-tasks ul {
    list-style: disc;
    padding: 10px 0;
}
.dash-panel-tasks ul li {
    margin-left: 10px;
}

.quick-links li {
    display: inline;
    padding: 10px;
}
