<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd">
           
  <bean id="monitoringCallback" class="org.geoserver.monitoring.callbacks.MonitoringCallback" />

  <!-- 
   Menu categories
   -->
  <bean id="monitoringCategory" class="org.geoserver.web.Category">
    <property name="nameKey" value="category.monitoring" />
    <property name="order" value="260" />
  </bean>

  <!-- 
   menu items
    -->
  <bean id="monitoringMenuPage" class="org.geoserver.web.MenuPageInfo">
    <property name="id" value="monitoring.ui.MonitoringPage" />
    <property name="titleKey" value="MonitoringPage.shortTitle" />
    <property name="descriptionKey" value="MonitoringPage.description" />
    <property name="componentClass" value="org.geoserver.monitoring.ui.MonitoringPage" />
    <property name="category" ref="monitoringCategory" />
    <!--property name="icon" value="../img/icons/silk/server_chart.png"/-->
    <property name="order" value="10" />
  </bean>

</beans>
