/* general overrides */

body {
    font-family: Helvetica, Arial, sans-serif;
    color: #333333;
}


.ext-el-mask {
    opacity: 0;
}

h1 {
    color:#0A2742;
    font-family:Optima,Georgia, serif;
    font-size:24px;
    font-weight:normal;
}


h2, h3, h4, h5 {
    color: #0A2742;
}

a, a:visited {
    color: #3366CC;
}

/* selectors for the index page */

.header { 
    height: 75px;
}

.header h1 a {
    color: #333333;
    padding: 10px 210px;
    font-size:48px;
    background: transparent url(img/recipe.png) no-repeat 10px 15px;
    text-decoration: none;
}

.west {
    width: 300px;
}

.west  p {
    line-height: 1.5;
    margin: 10px;
    font-size: 12px;
}

.searchbox {
    padding: 1em 1em 0 1em;
}

.components {
    font-size: 12px;
}


.index .recipe {
    padding: 0 1em 1em;
}

.index .recipe h3 {
    color: #486300;
    font-weight: normal;
    font-family: Optima,Georgia, serif;
}

.index .recipe p {
    color: #333333;
    margin: 0;
}

.index .recipe.over {
    cursor: pointer;
    background-color: #F3F3F3;
}

.index .recipe.selected {
    background-color: #EEEEEE;
}

/* selectors for individual recipes and reference docs */

body.reference-body, body.recipe-body {
    margin: 1em;
    background-color: #FFFFFF;
}

.description {
    margin: 1em 0 1em 0;
    padding: 0.75em;
    font-size: 12px;
    background-color: #eeeeee;
}

.content {
    margin: 1em 0 1em 0;
    padding: 0.75em;
    font-size: 12px;
}

.content ul {
    padding-bottom: 10px;   
}


.map {
    width: 100%;
    height: 256px;
}

pre code {
    padding: 1em;
    font-size: 0.9em;
}

/* Layout classes */

.x-border-layout-ct {
    background: #ffffff;
}

/*overriding specific tab styling*/

.x-tab-strip span.x-tab-strip-text  {
    font-family: Helvetica, Arial, sans-serif;
    color: #333333; 
    padding-top: 8px;
}


