/* general overrides */

body {
    font-family: Helvetica, Arial, sans-serif;
    color: #333333;
    
}


.ext-el-mask {
    opacity: 0;
}

h1, h2, h3, h4, h5 {
    color: #0A2742;
}

a, a:visited {
    color: #3366CC;
}

/* selectors for the index page */

.header { 
  height: 60px;
  padding:0.5em 10px;
  width: 398px;
}

.header h1 a {
    color: #333333;
}

.header .recipe-link {
  background: url(img/recipe.png) no-repeat 0;
  height: 60px;
  display:block;
}

.west {
    width: 300px;
}



.searchbox {
    padding: 1em 1em 0 1em;
}

.index .recipe {
    padding: 0.5em;
}

.index .recipe h3 {
  
}

.index .recipe p {
    color:#333333;
    line-height:1.5;
    margin:12px;
}

.index .recipe.over {
    cursor: pointer;
    background-color: #f3f3f3;
}

.index .recipe.selected {
    background-color: #ffffcc;
}

.entry {
    /*padding: 0 1.5em;*/
    /*background-color: white;*/
}

/* selectors for individual recipes and reference docs */

body.reference-body, body.recipe-body {
    margin: 1em;
}

.description {
    margin: 1em 0 1em 0;
    padding: 0.75em;
    font-size: 0.9em;
    background-color: #eeeeee;
}

.map {
    width: 100%;
    height: 256px;
}

pre code {
    padding: 1em;
    font-size: 0.9em;
}

/* Layout classes */

.x-border-layout-ct {
    background: #ffffff;
}

/*overriding some tab styling*/
.x-tab-strip span.x-tab-strip-text  {
  font-family: Helvetica, Arial, sans-serif;
  color: #333333; 
  padding-top: 8px;
}


