Source: opengeo-suite
Section: science
Priority: extra
Maintainer: OpenGeo <inquiry@opengeo.org>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: http://opengeo.org

Package: opengeo-suite
Architecture: any
Depends: debconf, opengeo-geoserver, ${misc:Depends} 
Suggests: opengeo-docs
Description: Allows the creation, sharing, and collaborative use of geospatial data. 
 description
