body {
    font-family: Helvetica, Arial, sans-serif;
    color: #333333;
}


/* selectors for the index page */

.header {
    height: 40px;
    padding: 0.5em;
}

.search {
    width: 350px;
}

.searchbox {
    padding: 1em;
}

.index .recipe {
    padding: 0.5em;
}

.index .recipe.over {
    cursor: pointer;
    background-color: #fafafa;
}

.index .recipe.selected {
    background-color: #ffffcc;
}

.entry {
    padding: 1.5em;
    background-color: white;
}

/* selectors for individual recipes */

.description {
    padding: 1em;
    font-size: 0.9em;
    background-color: #eeeeee;
    margin-bottom: 1em;
}

.map {
    width: 100%;
    height: 256px;
}
