Source: opengeo-analytics
Section: science
Priority: extra
Maintainer: OpenGeo <inquiry@opengeo.org>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: http://opengeo.org

Package: opengeo-analytics
Architecture: any
Depends: opengeo-geoserver (>= 2.4.0), unzip, ${misc:Depends}
#,${shlibs:Depends}
Description: GeoServer extension for analyzing server activity.
 The analytics extension collects data and maintains statistics about server usage. It also includes an addon to the GeoServer admin interface that provides a visualization of these statistics. 
